@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>

<p>
    Enter some text. If there are 3 or more characters in the search box, 
    the system will retrieve all matching categories, with their parents if any, 
    and all matching product codes.
</p>
<div class="input-with-suggestions">
    <input type="text" class="search" id="search"/>
    
    @*Using a table instead of a div, so the suggestions box visually grows when you get long category lines*@
    <table border="0" cellpadding="0" cellspacing="0">
        <tr><td class="suggestions" id="suggestions">
        </td></tr>
    </table>
</div>

@section Scripts {

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/search")
    
    <script type="text/javascript">
        var Searcher;
        (function (Searcher) {
            Searcher.searchUrl = "@(ViewBag.AutocompleteSearchApiUrl)" ;
        })(Searcher || (Searcher = {}));
    </script>
}



