.input-with-suggestions {
    font: 12px arial,sans-serif;
    line-height: 20px;
    position: relative;
}

.search {
    width: 300px;
    padding: 4px;
}

.suggestions {
    min-width: 300px;
    padding: 4px;
    display: none;
    border: 1px grey solid;
    margin-left: 2px;
}

.suggestions-box {
    position: absolute;
    top: 35px;
    background-color: white;
}

.searchresults {
    font: 12px arial,sans-serif;
    line-height: 20px;
}
