.input-with-suggestions {
    font: 12px arial,sans-serif;
    line-height: 20px;
}

.search {
    width: 300px;
    padding: 4px;
}

.suggestions {
    min-width: 300px;
    padding: 4px;
    display: none;
    border: 1px grey solid;
    margin-left: 2px;
}


