@{
    ViewBag.Title = "Admin";
}

<h2>Admin</h2>
<p>
    Refresh the product search and autocomplete suggestions from the database.
    You would use this after changes have been made to the database.
</p>
<button id="refreshbutton">Refresh</button>
<p id="progress-searchresults"></p>
<p id="progress-suggestions"></p>

@section Scripts {

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/refresh")
}



