@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>

<p>
    Enter a category name, then click outside the input box.
    The system will show suggestions matching the input.
</p>

<div class="input-with-suggestions">
    <input type="text" class="search" id="search"/>
    <div class="suggestions" id="suggestions"></div>
</div>


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/search")





